html{
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
.alert{
    color: red;
    margin: auto;
    margin-top: 20px;
    width: 116px;
    font-size: 15px;
}
.login, .create_client, .delete_client, .search_client{
    width: 400px;
    margin: auto;
    margin-top: 160px;
    border: 2px solid;
}

.login form, .create_client form, .delete_client form, .search_client form{
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
}
input[type="text"] {
    margin-bottom: 18px;
}
input{
    border: 2px solid;
    margin-top: 6px;
}
.navbar{
    position: fixed;
    top: 0;
    padding-top: 12px;
    width:100%;
    background-color: black;
    height:50px;
}
.navbar .inside{
    width:auto;
    height:auto;
    float: right;
    margin-right: 280px;
}
.navbar-button{
    display: inline-block;
    width:auto;
    height:100%;
    color: white;
    font-size: 21px;
    margin-left: 20px;
}
.footer {
    position: absolute;
    width:100%;
    background-color: black;
    height:150px;
    margin-top: 35px;
    bottom: -88px;
}

.container .search_block{
    width: 390px;
    background-color: azure;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 15px;
    vertical-align: top;
}
.container{
    margin: auto;
    margin-top: 100px;
    width: 1293px;
    height:auto;
    background-color: aliceblue;
}
.container .header{
    text-align: center;
    font-size: 60px;
}
.container .block{
    width: 390px;
    background-color: azure;
    height: auto;
    display: inline-block;
    margin-top: 19px;
    margin-left: 27px;
    margin-bottom: 15px;
    vertical-align: top;
}
.container .head{
    width: 100%;
    height: 39px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 0px;
    font-size: 30px;
    margin-bottom: 15px;

}
.container .info {
    display: block;
    margin-left: 25px;
}
.container .info .left {
    width: 190px;
    height: 25px;
    display: inline-block;
}
.container .info .right {
    width: auto;
    height: 25px;
    display: inline-block;
}
@media screen and (max-width: 1310px){
    .navbar .inside {
        margin-right: 20px;
    }
}
@media screen and (max-width: 1267px){
    .navbar-button{
        font-size: 16px;
        margin-top: 4px;
    }
}
a{
    color:white;
    text-decoration: none;
}